test/**
src
*.tsbuildinfo
yarn-error.log
.yalc
.yarn
.yarnrc.yml
tsconfig.*
yalc.sig
.github
yalc.lock
yarn.lock
.yarnrc.yml
.prettierrc.js
.git
.gitattributes
.editorconfig
.eslintrc.js
.eslintignore
